html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header {
    height: 60px;
}

footer {
    height: 60px;
}

.sj_full_container {
    min-height: calc(100% - 178px);
    min-width: 1300px;
    max-width: none !important;
}

.main_body {
    background-image: url("/images/bg.jpg");
}

.main_card {
    margin: 50px;
}

.list-group :hover {
    background-color: darkorange;
    color: white;
}

.hs_list_effect {
    background-color: darkorange;
    color: white;
}

.hs_line {
    width: 1000px;
}

.hs_span_size {
    width: 110px;
}

.container {
    width: 1300px;
    max-width: none !important;
}


html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

header {
    height: 60px;
}

footer {
    height: 60px;
}

.sj_full_container {
    min-height: calc(100% - 228px);
    min-width: 1300px;
    max-width: none !important;
}



.jm_body {
    background-color: #ffffff;
}

.jm_select_box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.jm_select {
    background-color: #ffffff;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: #e0dcd6;
}

.jm_container {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    background-color: #f3f2f0;
    padding: 50px;
}

.jm_card {
    padding: 25px;
}

.jm_card_img_top {
    height: 10rem;
    object-fit: contain;
    width: 100%;
}

.jm_card_body {
    text-align: left;
}

.jm_company_name {
    color: gray;
}

.jm_company_title {
    font-size: 23px;
    font-weight: bold;
    height: 69px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 (integer);
    overflow: hidden;
}

.jm_company_address {
    font-size: small;
    color: #7c7c7c;
}

.jm_D-day {
    font-size: 25px;
    font-weight: bold;
}

.jm_scrap {
    float: right;
}


.jh_flex_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.jh_body {
    background-color: white;
}

.jh_resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jh_resume_button {
    width: 900px;
    padding: 30px;
    border-color: lightgray;
    font-size: larger;
}

.jh_resume_content {
    width: 900px;
    border: 1px solid lightgray;
    padding: 25px;
}

.jh_resume_personal_info {
    width: 50%;
}

.jh_resume_table tr td {
    border: 1px solid lightgray;
    padding: 10px;
}

.jh_resume_table tr td:first-child {
    background-color: orange;
    text-align: center;
}

.jh_resume_table tr td:last-child {
    width: 450px;
}

.jh_resume_table {
    border-radius: 8px;
    border: 1px solid grey;

}

.jh_resume_flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jh_resume_skill ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.jh_resume_skill li {
    margin: 5px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
}